In [1]:
#FIND 33:
# Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.
#  has_33([1, 3, 3]) → True
#  has_33([1, 3, 1, 3]) → False
#  has_33([3, 1, 3]) → False

In [27]:
def has_33(nums):
    
    for i in range(0, len(nums)-1):
        if nums[i] == 3 and nums[i+1]== 3:
            return True

    return False

In [28]:
# Check
has_33([1, 3, 3])

True

In [29]:
# Check
has_33([1, 3, 1, 3])

False

In [30]:
# Check
has_33([3, 1, 3])

False

In [11]:
# PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
# paper_doll('Hello') --> 'HHHeeellllllooo'
# paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [38]:
def paper_doll(text):
    result = " "
    
    for char in text:
        result += char * 3
        
    return result

In [39]:
# Check
paper_doll('Hello')

' HHHeeellllllooo'

In [40]:
# Check
paper_doll('Mississippi')

' MMMiiissssssiiissssssiiippppppiii'

In [41]:
#BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. 
# If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. 
# Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

# blackjack(5,6,7) --> 18
# blackjack(9,9,9) --> 'BUST'
# blackjack(9,9,11) --> 19

In [115]:
def blackjack(a,b,c):

    if a+b+c <= 21:
        return sum ([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) -10 <= 21:
        return sum ([a,b,c])-10
    else:
        return 'Bust'

In [116]:
# Check
blackjack(5,6,7)

18

In [117]:
# Check
blackjack(9,9,9)

'Bust'

In [118]:
# Check
blackjack(9,9,11)

19

In [119]:
#SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 
# and extending to the next 9 (every 6 will be followed by at least one 9). 
# Return 0 for no numbers.

# summer_69([1, 3, 5]) --> 9
# summer_69([4, 5, 6, 7, 8, 9]) --> 9
# summer_69([2, 1, 6, 9, 11]) --> 14

In [124]:
def summer_69(arr):
    
    total = 0
    add= True
    
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add= False
            
        while not add:
            if num != 9:
                break            
            else: 
                add = True
                break 
    return total

In [125]:
# Check
summer_69([1, 3, 5])

9

In [126]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [127]:
# Check
summer_69([2, 1, 6, 9, 11])

14