In [1]:
# Using maps - create function first

def square(num):
    return num**2

In [2]:
my_nums = [1,2,3,4,5]

In [3]:
# use map - take the function, and apply to all items on the list
# note - function does not include parenthesis because we dont want to execute - map will execute for us

map(square,my_nums)

#result is not useful, since it is stored on physical memory space - see below

In [5]:
#to make it more useful, use a for loop and print out the items.

for item in map(square,my_nums):
    print (item)

1
4
9
16
25

In [6]:
# you can also call the list back

list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [7]:
# creating a more complex function and use map
# note - function does not include parenthesis because we dont want to execute - map will execute for us

def splicer(mystring):
    if len(mystring)%2 == 0:
        #print even if the number of length of the letters are even
        return 'EVEN'
    else:
        #just return the first letter of the string
        return mystring[0]

In [8]:
names = ['Andy', 'Eve', 'Sally']

In [10]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [4]:
# using the function "filter" - this applies the defined function to each item on a list
# test - check if items on list are even numbers. define your function first. then create list. 

def check_even(nums):
    return nums%2 == 0

In [5]:
mynums = [1,2,3,4,5,6]

In [11]:
#pass on to a list

list(filter(check_even,mynums))

[2, 4, 6]

In [12]:
# ... or iterate through the items on a list

for n in filter(check_even,mynums):
    print (n)

2
4
6

In [13]:
#origin of Lambda - code before converting to a lambda

def square(num):
    result = num **2
    return result

In [14]:
square(5)

25

In [17]:
#first conversion - 
def square(num):
    return num **2

In [18]:
square(5)

25

In [21]:
# 2nd conversion - putting it all on one line

def square(num): return num **2

In [22]:
square(5)

25

In [28]:
#3rd conversion - lambda is a func you only use once, so it is an anonymous func.
# simplify using 'lambda', assume 'return' after the colon, and place on a list

square = lambda num: num **2
# tecnically, you don't name the func, but use jointly with map and filter.

In [29]:
square (5)

25

In [32]:
#using the map func above, and applying on mynums above 

list(map(lambda num:num **2, mynums))

[1, 4, 9, 16, 25, 36]

In [35]:
#using the filter func above, and applying on a list

list(filter(lambda nums:nums%2 == 0, mynums))

[2, 4, 6]

In [37]:
names = ['Andy', 'Eve', 'Sally']

In [39]:
# slice and get only the first letter of every item on that list

list(map(lambda x:x[0], names))

['A', 'E', 'S']

In [41]:
# reverse letters of all items on 'names'

list(map(lambda x:x[::-1], names))

['ydnA', 'evE', 'yllaS']